@using Ab_Folio.Models
@model Ab_Folio.Objecten.Crypto
@{
    ViewData["Title"] = "Crypto page";
}
<br />
<br />
<br />
<br />
<div class="container">
    <h2>Cypto List</h2>
    <div class="Scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>24h %</th>

                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<string, Coin> c in Model.CoinsLibrary)
                {
                    <tr>
                        <td class="p">@c.Key</td>
                        <td class="p"><img src="@c.Value.imgUrl" width="25"> <strong> @c.Value.Name</strong> <span class="text-secondary">@c.Value.Symbol.ToUpper()</span> </td>
                        <td class="p">€@c.Value.CoinValue</td>
                        <td class="Price_Change_Container p">@c.Value.Price_Change_24h%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script src="~/js/Crypto_Methods/Crypto.js"></script>